.footer { 
    font-size: 11px; text-align: center;
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.footer a { color: hsl(228, 45%, 44%); }


html, body {
    margin: 0px;
}

#main {
    display: flex;
    margin: 0px;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}

p {
    margin: 0px;
}

#card {
    margin: auto;
    justify-content: center;
    background: white;
    height: 350px;
    width: 350px;
}

#top {
    height: 120px;
    background-color: blue;
    background-image: url(images/bg-pattern-card.svg)
}