.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html, body {
    margin: 0px;
}

#main {
    margin: 0px;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}

p {
    margin: 0px;
}