.footer { 
    font-size: 11px; text-align: center;
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.footer a { color: hsl(228, 45%, 44%); }


* {
    margin: 0px;
}

#main {
    display: flex;
    margin: 0px;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}

p {
    margin: 0px;
}

body {
    font-family: 'Kumbh Sans';
}

#card {
    margin: auto;
    justify-content: center;
    background: white;
    height: 350px;
    width: 350px;
    position: relative;
    border-radius: 15px;
}

.profile-pic {
    border-radius: 50px;
    border: 5px solid white;
    margin-top: 90px;
    margin-left: 120px;
    position: absolute;
}

img.pattern {
    position: absolute;
    border-radius: 15px 15px 0 0;
}

#info {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    margin-top: 15px;
}

.name {
    font-weight: 700;
    font-size: 18px;
}

.age {
    padding-left: 10px;
    font-weight: 400;
}

.city {
    margin-top: 5px;
    text-align: center;
    font-weight: 400;
}

hr {
  margin-top: 20px;  
  opacity: 40%;
}

#numbers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}

#text {
    display: flex;
    justify-content: space-evenly;
}